<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bird Show</title>
</head>
<body>
    <h1>Name: {{name}}</h1> <br>
    <img src="{{image}}" alt=""> <br>
    <h3>Group: {{group}}</h3>
    <h4>Ability: {{abilities}}</h4>
    <h4>Species: {{species}}</h4>
    <h4>Feels: {{feels}}</h4><br>
    
    <h2><a href="angryBirds/..">Back</a></h2>




</body>
</html>